<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
	<h1>Register</h1>
	<form method="post" action="/">
		<table>
			<tr>
				<td>Fullname</td>
				<td><input type="text" name="fullname"/></td>
			</tr>
			<tr>
				<td>Address</td>
				<td><input type="text" name="address"/></td>
			</tr>
			<tr>
				<td>Age</td>
				<td><input type="text" name="age"/></td>
			</tr>
			<tr>
				<td></td>
				<td><br/><input type="submit" value="Send"/></td>
			</tr>
		</table>
	</form>
</body>
</html>